@model AplicacionCRUD.Models.Contacto

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 30px;">
    <div class="col-sm-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Nuevo Contacto</h4>
            </div>
            <form action="@Url.Action("Editar","Contacto")" method="post">
                <input type="hidden" name="IdContacto" class="form-control" value="@Html.DisplayTextFor(x=>x.idContacto)" readonly/>
                <div class="form-group">
                    <label>Nombres</label>
                    <input type="text" name="Nombres" class="form-control" value="@Html.DisplayTextFor(x=>x.Nombres)" />
                </div>
                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" name="Apellidos" class="form-control" value="@Html.DisplayTextFor(x=>x.Apellidos)" />
                </div>
                <div class="form-group">
                    <label>Telefono</label>
                    <input type="text" name="Telefono" class="form-control" value="@Html.DisplayTextFor(x=>x.Telefono)" />
                </div>
                <div class="form-group">
                    <label>Correo</label>
                    <input type="text" name="Correo" class="form-control" value="@Html.DisplayTextFor(x=>x.Correo)" />
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a class="btn btn-warning" href="@Url.Action("Inicio","Contacto")">Volver</a>
            </form>
        </div>
    </div>
</div>

